---
title: "Distracted Coder Home"
description: "Distracted Coder is a small indie game development team"
---

<!doctype html>
<html lang="en">

<head>
    
    {% include head.html %}

</head>

<body class="page-grid">

    <header>
        {% include header.html %}
    </header>


    <section class="hero blueprint-grid">
        <div class="hero-left">
            <div class="hero-stripe"></div>
        </div>
        <div class="hero-grid">
            <div class="hero-avatar"></div>

            <div class="hero-content pb-md-10">
                <h1 class="display-6">Welcome to</h1>
                <h1 class="display-2 text-decoration-underline pb-md-10">Distracted Coder</h1>
                <p class="lead pb-md-10">Slogan text will go here...</p>
            </div>
        </div>
        <div class="hero-right">
            <div class="hero-stripe hero-stripe-right"></div>
        </div>

        <div class="post-it post-it-hero-pos" style="transform: rotate(8deg);">
            <div class="post-it-inner font-handwritten font-pen">
                Don't forget to update the slogan to say something about my coding projects and games!
            </div>
        </div>
    </section>


    <div class="page-notes1 font-handwritten font-pencil">padding: py-5</div>

    <h1 class="text-center pt-3">My Main Project</h1>
    <section class="slide-soldier-section">

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 d-flex align-items-stretch">
                    <div class="h-card-thumb ss-thumb"></div>
                    <div class="ss-body text-center pb-0">
                        <p>Slide Soldiers is a <b>new twist on sliding block puzzles</b>! It's not about reaching the goal, just hitting the targets. Once you start moving, there's no stopping till you hit a wall.</p>
                        <p class="mb-0"><b>Adventure Mode</b> has limited visibility, you need to remember your path and follow your trail through dense forests.</p>
                        <a href="slide-soldiers/" class="d-none d-md-inline-block my-3 btn-fancy-offset">
                                <span class="btn-fancy-offset-text">Check out the Full Features!</span>
                        </a>
                    </div>
                </div>
                <div class="col-12  d-inline-block d-md-none text-center my-4">
                        <a href="slide-soldiers/" class="btn-fancy-offset">
                                <span class="btn-fancy-offset-text">Check out the Full Features!</span>
                        </a>

                </div>
                <div class="col-12 col-md-6 ss-screenshots px-5 my-3 d-flex align-items-center">

                    <div id="ss-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="4000">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="/img/ss-home-screenshot-1.png" alt="slide soldiers screenshot">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/img/ss-home-screenshot-2.png" alt="slide soldiers screenshot">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/img/ss-home-screenshot-3.png" alt="slide soldiers screenshot">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/img/ss-home-screenshot-4.png" alt="slide soldiers screenshot">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/img/ss-home-screenshot-5.png" alt="slide soldiers screenshot">
                            </div>
                        </div>
                        <div class="ss-bottom-image-soldier"></div>
                        <div class="ss-bottom-image-slime"></div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="position-relative project-jumpoff">

        <div class="container px-5 py-5 text-center">
            <h1 class="mb-0">Check Out My Other Projects</h1>
            <h5 class="small font-handwritten font-pencil mt-0">or else...</h5>
            <div class="row display-6">
                <div class="col-12 col-md-6 mb-4 mb-md-0 d-flex align-items-center justify-content-center">
                    <span class="">Videos to Watch</span>
                    <i class="fa-solid fa-arrow-right mx-2"></i>
                    <a href="https://www.youtube.com/@DistractedCoder"><img src="/img/youtube-logo.svg" class=""></a>
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                    <span class="">Games to Play</span>
                    <i class="fa-solid fa-arrow-right mx-2"></i>
                    <a href="https://distractedcoder.itch.io/"><img src="/img/itch-logo.png" class=""></a>
                </div>
            </div>
        </div>
    </section>





    <h1 class="text-center ">My Favorite Projects</h1>
    <section class="favorite-videos position-relative">
        <div class="stain"></div>
        <div class="container">
            <div class="row justify-content-center" id="favorite-container">



            </div>
            <div class="row justify-content-center">
                <div class="page-notes2 font-handwritten font-pencil col-12 text-center">classes: col-12 col-md-4 justify-content-center</div>
            </div>
        </div>
    </section>



    <script>
        Get5FavoriteVideos();
    </script>



    <section class="position-relative pt-5">
        <div class="page-notes3 font-handwritten font-pencil">padding: py-5</div>
        <h1 class="text-center ">Discontinued Games</h1>
        <h5 class="small text-center">These were planned as full releases but ultimately abandoned</h5>


        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="h-card">
                        <div class="h-card-thumb ooc-thumb"></div>
                        <div class="h-card-body">
                            <h4>Out of Control - 2.5 years</h4>
                            <p>
                                Ah poor Out of Control. This was my first big project on PC. Because I spent so long on development and not enough time getting feedback, the initial response was <i>...well received</i>.
                            </p>
                            <div class="text-center">
                                <a href="https://distractedcoder.itch.io/out-of-control-demo1" target="_blank"><button class="btn btn-primary">Play the Finished Demo <i class="fa-solid fa-arrow-up-right-from-square"></i></button></a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-md-6">
                    <div class="h-card no-top-border">
                        <div class="h-card-thumb vv-thumb"></div>
                        <div class="h-card-body">
                            <h4>Vicious Vine - 1 year</h4>
                            <p>
                                Vicious Vine got too big too quickly. Too many things were planned while simultaneously rushing/faking features for the trailer and it became overwhelming. 
                            </p>
                            <div class="text-center">
                                <a href="https://distractedcoder.itch.io/vicious-vine" target="_blank"><button class="btn btn-primary">Play the Game Jam Version <i class="fa-solid fa-arrow-up-right-from-square"></i></button></a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>



    <section>

        <div class="pencil">
            <img src="/img/pencil-black.png" alt="A pencil lying on its side">
        </div>
        <div class="pencil-text font-handwritten font-pencil mb-3">Man, it really took me too long to finish the site</div>
    </section>



    <footer>
        {% include footer.html %}
    </footer>


</body>

</html>