---
title: "Slide Soldiers - Press Kit"
description: "Press Kit for Slide Soldiers, a new twist on sliding block puzzles by Distracted Coder. Contains logos, screenshots, videos, and key information for media and content creators."
social_image: https://distractedcoder.com/favicons/slide-soldiers/social-image-slide-soldiers.png
---


<!DOCTYPE html>
<html lang="en">

<head>
    {% include slide-soldiers/ss-head.html %}
</head>

<body class="noalpha-header">

    {% include slide-soldiers/ss-header.html %}

    <!-- https://www.youtube.com/watch?v=jfUdgCEispk -->


    <section class="container text-center">
        <img src="/slide-soldiers/assets/images/fancy-header.png" alt="slide soldiers logo" class="" width="100%">
        <!-- <h2 class="golden-1 mb-0">slide soldiers is a new twist on sliding block puzzles!</h2> -->
    </section>

    <section class=" press-kit-page" style="font-size: 1.15rem;">

        <!-- <h1 class="text-center mb-5 text-dark">Slide Soldiers - Press Kit</h1> -->

        <div class="container">

            <div class="row">

                <div class="col-12 text-center d-flex justify-content-center py-4">
                    <div class="nav">
                        <a href="https://drive.google.com/drive/folders/1b9fPm4S4oIJKcOrG0q62D7i_V544iuSg?usp=sharing" class="btn-default btn-default-invert" target="_blank">
                            <span>Download All Assets <i class="fa-solid fa-download"></i></span>
                            <div class="hover-effect">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-4 pb-2">
                    <h3 class="display-6">Navigation</h3>
                    <ul class="ms-3 d-flex flex-column show-bullets" style="font-size: 1.15rem;">
                        <li><a href="#fact-sheet">Fact Sheet</a></li>
                        <li><a href="#at-a-glance">At a Glance</a></li>
                        <li><a href="#features">Features</a></li>
                        <li><a href="#quick-links">Quick Links</a></li>
                        <li><a href="#videos">Videos</a></li>
                        <li><a href="#screenshots">Screenshots</a></li>
                        <li><a href="#distracted-coder-logos">Distracted Coder Logos</a></li>
                        <li><a href="#slide-soldiers-logos">Slide Soldiers Logos</a></li>
                        <!-- <li><a href="#quotes">Quotes</a></li> -->
                        <li><a href="#about-us">About Us</a></li>
                        <li><a href="#slide-soldiers-credits">Slide Soldiers Credits</a></li>
                        <li><a href="#permission-disclaimer">Permission / Disclaimer</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-8 py-4">
                    <h3 class="display-6" id="at-a-glance">At a Glance <a href="https://docs.google.com/document/d/1oXS9fL961TetCAFo86LvDA4dSQBfJb-Dcb9yT8Lz-1k/edit?usp=sharing" target="_blank" class="bordered-fa-icon"><i class="fa-solid fa-download"></i></a></h3>
                    <div class="ms-3  " style="font-size: 1.15rem;">
                        <p>It’s a new twist on sliding block puzzles! It’s not about reaching the goal, just hitting the targets.</p>
                        <p>Plan your next move because once you choose a direction, you’ll keep moving until you hit a wall.</p>
                        <ul class=""  style="font-size: 1.15rem;">
                            <li><strong>4,000 Levels</strong> - Slide through 4,000 pre-generated levels ranging from easy to hard!</li>
                            <li><strong>Fully Hand-drawn</strong> - Fully hand-drawn by real human hands! No AI was used.</li>
                            <li><strong>Find the Path</strong> - Every level has a perfect solution. Will you find it?</li>
                            <li><strong>Grid Based</strong> - Always see where you are going and always end up where you’d expect.</li>
                            <li><strong>Play at your own pace</strong> - No timer and relaxed gameplay keeps things chill.</li>
                            <li><strong>No randomness</strong> - Every outcome is fully predictable. If you get lost, that’s on you!</li>

                        </ul>
                    </div>
                </div>

                <div class="col-12 col-md-4 py-4 break-after-strong">
                    <h3 class="display-6" id="fact-sheet">Fact Sheet <a href="https://docs.google.com/document/d/1oXS9fL961TetCAFo86LvDA4dSQBfJb-Dcb9yT8Lz-1k/edit?usp=sharing" target="_blank" class="bordered-fa-icon"><i class="fa-solid fa-download"></i></a></h3>
                    <ul class="ms-3" style="font-size: 1.15rem;">
                        <li><strong>Title:</strong> Slide Soldiers</li>
                        <li><strong>Marketing Tagline:</strong> Slide Soldiers is a new twist on sliding block puzzles!</li>
                        <li><strong>Developer:</strong> Distracted Coder</li>
                        <li><strong>Genre:</strong> Puzzle</li>
                        <li><strong>Number of Players:</strong> Single Player</li>
                        <li><strong>Platform:</strong> PC (Steam)</li>
                        <li><strong>Release Date:</strong> Q3 2026</li>
                        <li><strong>Release Region:</strong> Worldwide</li>
                        <!-- <li><strong>Price:</strong> Price</li> -->
                        <!-- <li><strong>ESRB:</strong> XXXXXXXXXXXXXX</li> -->
                        <li><strong>Contact:</strong> <a style="overflow-wrap: anywhere; word-break: break-word;" href="mailto:{% include link-dc-contact-email.html %}">{% include link-dc-contact-email.html %}</a></li>
                    </ul>
                </div>



                <div class="col-12 col-md-8 py-4">
                    <h3 class="display-6" id="features">Features <a href="https://docs.google.com/document/d/1oXS9fL961TetCAFo86LvDA4dSQBfJb-Dcb9yT8Lz-1k/edit?usp=sharing" target="_blank" class="bordered-fa-icon"><i class="fa-solid fa-download"></i></a></h3>
                    <div class="">
                        <ul class="ms-3  show-bullets more-li-bottom">
                            <li>Fast sliding movement means commitment. Once you choose a direction, you’ll keep moving until you hit a wall.</li>
                            <li>It’s not about reaching the goal or covering all tiles but rather striking the targets. This is not your typical sliding puzzle.</li>
                            <li>Adventure Mode limits visibility, asking players to remember their path and follow their trail through dense forests. Levels are built without dead ends, so progress always comes from understanding, not trial and error.</li>
                            <li>Hard Mode introduces false enemies placed just out of reach, designed to mislead players who rush their decisions.</li>
                            <li>Hand-drawn art makes everything pop, even as puzzles grow more challenging.</li>
                            <li>A relaxing soundtrack supports focus without distractions.</li>
                            <li>Seasonal changes transform the forest, keeping familiar mechanics visually fresh as you play.</li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>
    </section>



    <section class="pb-5  press-kit-page" style="font-size: 1.15rem;">
        <div class="container">

            <div class="row">



                <div class="col-12 py-4">
                    <h3 class="display-6" id="quick-links">Quick Links <a href="https://docs.google.com/document/d/1BFevbDqJGKv1dfpgM1jktQM-40CfAj2QuluSh3atzUs/edit?usp=sharing" target="_blank" class="bordered-fa-icon"><i class="fa-solid fa-download"></i></a></h3>
                    <ul class="ms-3" style="font-size: 1.15rem;">
                        <li><strong>Distracted Coder Page:</strong> <a href="https://distractedcoder.com/" target="_blank">https://distractedcoder.com/</a></li>
                        <li><strong>Slide Soldiers Page:</strong> <a href="https://distractedcoder.com/slide-soldiers/" target="_blank">https://distractedcoder.com/slide-soldiers/</a></li>
                        <li><strong>Slide Soldiers Press Kit:</strong> <a href="https://distractedcoder.com/slide-soldiers/press-kit/" target="_blank">https://distractedcoder.com/slide-soldiers/press-kit/</a></li>
                        <li><strong>Steam Page:</strong> <a href="{% include slide-soldiers/ss-link-steam-page.html %}" target="_blank">{% include slide-soldiers/ss-link-steam-page.html %}</a></li>
                        <li><strong>Demo Link:</strong> <a href="{% include slide-soldiers/ss-link-demo1.html %}" target="_blank">{% include slide-soldiers/ss-link-demo1.html %}</a></li>
                    </ul>
                </div>





                <div class="col-12 text-center">
                    <h3 class="display-6" id="videos">Videos <a href="https://drive.google.com/drive/folders/1K_uLnxb3By1o6ommAxEwJNqkIoQEo3lj?usp=drive_link" target="_blank" class="bordered-fa-icon"><i class="fa-solid fa-download"></i></a></h3>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 py-4">
                        <h3>Announcement Trailer</h3>
                        <a href="https://youtu.be/kLPQX-wLp-4?si=VlPFPFcI8AepcpJW">YouTube Link</a>
                        <div class="aspect16-9">
                            <iframe class="" width="100%" height="100%" src="https://www.youtube.com/embed/kLPQX-wLp-4?si=3sqoq25S77U-fm-K" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <!-- <div class="col-12 col-md-4 py-4">
                        <h3>Gameplay Trailer</h3>
                        <a href="https://youtu.be/kLPQX-wLp-4?si=VlPFPFcI8AepcpJW">YouTube Link</a>
                        <div class="aspect16-9">
                            <iframe class="" width="100%" height="100%" src="https://www.youtube.com/embed/kLPQX-wLp-4?si=3sqoq25S77U-fm-K" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 py-4">
                        <h3>Adventure Mode Gameplay Trailer</h3>
                        <a href="https://youtu.be/kLPQX-wLp-4?si=VlPFPFcI8AepcpJW">YouTube Link</a>
                        <div class="aspect16-9">
                            <iframe class="" width="100%" height="100%" src="https://www.youtube.com/embed/kLPQX-wLp-4?si=3sqoq25S77U-fm-K" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div> -->
                </div>

                <div class="col-12 text-center">
                    <h3 class="display-6" id="screenshots">Screenshots <a href="https://drive.google.com/drive/folders/1H-qWmnwsbX6qs6rhTyfJlUeGzDTLAVBR?usp=drive_link" target="_blank" class="bordered-fa-icon"><i class="fa-solid fa-download"></i></a></h3>
                </div>
                <div class="row screenshot-section">
                    <div class="col-6 col-md-3">
                        <a href="/slide-soldiers/assets/images/screenshots/promotional-full-image.png" target="_blank"><img src="/slide-soldiers/assets/images/screenshots/promotional-full-image.png" class="aspect16-9 w-100"></a>
                    </div>
                    <div class="col-6 col-md-3">
                        <a href="/slide-soldiers/assets/images/screenshots/1.png" target="_blank"><img src="/slide-soldiers/assets/images/screenshots/1.png" class="aspect16-9 w-100"></a>
                    </div>
                    <div class="col-6 col-md-3">
                        <a href="/slide-soldiers/assets/images/screenshots/2.png" target="_blank"><img src="/slide-soldiers/assets/images/screenshots/2.png" class="aspect16-9 w-100"></a>
                    </div>
                    <div class="col-6 col-md-3">
                        <a href="/slide-soldiers/assets/images/screenshots/1-with-enemy.png" target="_blank"><img src="/slide-soldiers/assets/images/screenshots/1-with-enemy.png" class="aspect16-9 w-100"></a>
                    </div>
                    <div class="col-6 col-md-3">
                        <a href="/slide-soldiers/assets/images/screenshots/3.png" target="_blank"><img src="/slide-soldiers/assets/images/screenshots/3.png" class="aspect16-9 w-100"></a>
                    </div>
                    <div class="col-6 col-md-3">
                        <a href="/slide-soldiers/assets/images/screenshots/2-with-enemy.png" target="_blank"><img src="/slide-soldiers/assets/images/screenshots/2-with-enemy.png" class="aspect16-9 w-100"></a>
                    </div>
                    <div class="col-6 col-md-3">
                        <a href="/slide-soldiers/assets/images/screenshots/4.png" target="_blank"><img src="/slide-soldiers/assets/images/screenshots/4.png" class="aspect16-9 w-100"></a>
                    </div>
                    <div class="col-6 col-md-3">
                        <a href="/slide-soldiers/assets/images/screenshots/5.png" target="_blank"><img src="/slide-soldiers/assets/images/screenshots/5.png" class="aspect16-9 w-100"></a>
                    </div>
                    <div class="col-6 col-md-3 p-3">
                        <a href="/slide-soldiers/assets/images/screenshots/5-with-enemy.png" target="_blank"><img src="/slide-soldiers/assets/images/screenshots/5-with-enemy.png" class="aspect16-9 w-100"></a>
                    </div>
                </div>


                <div class="col-12 col-md-6 py-4">
                    <h3 class="display-6" id="distracted-coder-logos">Distracted Coder Logos <a href="https://drive.google.com/drive/folders/1cmlyrZpfEJTw_QELnZggRL35emBDsDfZ?usp=drive_link" target="_blank" class="bordered-fa-icon"><i class="fa-solid fa-download"></i></a></h3>
                    <div class="row">
                        <div class="col-6 p-3">
                            <a href="/slide-soldiers/assets/images/press-kit-logos/distracted-coder-logo-BLACK.png" target="_blank"><img src="/slide-soldiers/assets/images/press-kit-logos/distracted-coder-logo-BLACK.png" class=" w-100" style="background-color: #fafafa;"></a>
                        </div>
                        <div class="col-6 p-3">
                            <a href="/slide-soldiers/assets/images/press-kit-logos/distracted-coder-logo-WHITE.png" target="_blank"><img src="/slide-soldiers/assets/images/press-kit-logos/distracted-coder-logo-WHITE.png" class=" w-100"></a>
                        </div>
                    </div>

                        <div class="col-12 p-3">
                            <a href="/slide-soldiers/assets/images/press-kit-logos/distracted-coder-logo-BLACK-with-text.png" target="_blank"><img src="/slide-soldiers/assets/images/press-kit-logos/distracted-coder-logo-BLACK-with-text.png"  style="background-color: #fafafa;" class=" w-100"></a>
                        </div>
                        <div class="col-12 p-3">
                            <a href="/slide-soldiers/assets/images/press-kit-logos/distracted-coder-logo-WHITE-with-text.png" target="_blank"><img src="/slide-soldiers/assets/images/press-kit-logos/distracted-coder-logo-WHITE-with-text.png" class=" w-100"></a>
                        </div>
                </div>

                <div class="col-12 col-md-6 py-4">
                    <h3 class="display-6" id="slide-soldiers-logos">Slide Soldiers Logos <a href="https://drive.google.com/drive/folders/1cmlyrZpfEJTw_QELnZggRL35emBDsDfZ?usp=drive_link" target="_blank" class="bordered-fa-icon"><i class="fa-solid fa-download"></i></a></h3>
                    <a href="/slide-soldiers/assets/images/press-kit-logos/large-slide-soldiers-logo.png" target="_blank"><img src="/slide-soldiers/assets/images/press-kit-logos/large-slide-soldiers-logo.png" class="w-100"></a>
                </div>

                <!-- <div class="col-12 py-4">
                    <h3 class="display-6" id="quotes">Quotes</h3>
                        <p>quotes / articles when it happens</p>
                    </div> -->


                <div class="col-12 col-md-6 py-4">
                    <h3 class="display-6" id="about-us">About Us <a href="https://docs.google.com/document/d/1ntJkhWE2mous_jHOfOP6N9AA9yiXBMZEEr3zDKkkJuk/edit?usp=sharing" target="_blank" class="bordered-fa-icon"><i class="fa-solid fa-download"></i></a></h3>
                    <div class="ms-3">
                        <h3>Who We Are</h3>
                        <p>Distracted Coder is a solo independent game studio based just outside of Chicago.</p>
                        <p>I'm Alex Wagner and I'm the founder and developer behind the studio. I handle the game design, programming, and creative direction for every project.</p>

                        <h3>How it Started</h3>
                        <p>I have been coding and making games since I was in 6th grade. It's been <u><span id="years-coding">15</span></u> years now!</p>
                        <p>I released my first iOS game at 19, which went on to surpass a few thousand downloads. After releasing 2 more apps and spending five years creating content on YouTube, I set my sights on something bigger: a Steam game, and maybe someday consoles.</p>
                    </div>
                </div>

                <script>
                    document.getElementById("years-coding").innerText = new Date().getFullYear() - 2008;
                </script>

                <div class="col-12 col-md-6 py-4 break-after-strong">
                    <h3 class="display-6" id="slide-soldiers-credits">Slide Soldiers Credits <a href="https://docs.google.com/document/d/1g6gUGc026_JXlamS0vU6pe3p0accAeg6tvrL3oQ0h6M/edit?usp=sharing" target="_blank" class="bordered-fa-icon"><i class="fa-solid fa-download"></i></a></h3>
                    <div class="ms-3">
                        <p><strong>Alex Wagner</strong> <a href="/" target="_blank">Game Designer & Programmer</a></p>
                        <p><strong>Julesdrawz</strong> <a href="https://x.com/Julesdrawz" target="_blank">Foreground / Character Artist</a></p>
                        <p><strong>Isaias Requena</strong> <a href="https://www.fiverr.com/isaiasrequena" target="_blank">Background Artist</a></p>
                        <p><strong>Scotty Rich</strong><a href="https://x.com/ScootyIN2D" target="_blank">Music Composer</a></p>
                        <p><strong>Hendry Rahardja</strong><a href="https://www.fiverr.com/hendry_rahardja" target="_blank">Logo Design</a></p>
                    </div>
                </div>


                <div class="col-12 py-4 py-4">
                    <h3 class="display-6" id="permission-disclaimer">Permission / Disclaimer <a href="https://docs.google.com/document/d/1_dALIKiIa--jRBPh6fmuGtWz7OrswLH_K4dzkMd-rLk/edit?usp=sharing" target="_blank" class="bordered-fa-icon"><i class="fa-solid fa-download"></i></a></h3>
                    <div class="ms-3">
                        <p><strong>Slide Soldiers</strong> and its assets are the property of Distracted Coder, LLC.</p>
                        <p>You are permitted to write about, stream, record, and publish videos or other content featuring Slide Soldiers for <strong>commercial or non-commercial purposes</strong>, including monetization on platforms such as YouTube and Twitch.</p>
                        <p>This permission does not allow redistribution of the game or its assets as standalone products, or misrepresentation of ownership.</p>
                    </div>
                </div>


            </div>
        </div>
    </section>



    <!--Footer Start-->
    {% include slide-soldiers/ss-footer.html %}
    <!--Footer End-->

</body>

</html>