---
title: "Slide Soldiers"
description: "Slide Soldiers is a new twist on sliding block puzzles coming to Steam Q2 2026"
social_image: https://distractedcoder.com/favicons/social-image-slide-soldiers.png
---

<!doctype html>
<html lang="en">

<head>
    <!-- this page will have it's own copied head I guess -->
    {% include head.html %}

</head>

<body class="page-grid">

    <header>
        {% include header.html %}
    </header>





    <div class="page-notes1 font-handwritten font-pencil">padding: py-5</div>

    <h1 class="text-center pt-3">This page is coming soon</h1>
    <section class="slide-soldier-section">

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 d-flex align-items-stretch">
                    <div class="h-card-thumb ss-thumb"></div>
                    <div class="ss-body">
                        <p>Features:</p>
                        <ul>
                            <li>
                                4000 procedurally generated levels
                            </li>
                            <li>
                                Fast sliding action. You only stop when you hit a wall
                            </li>
                            <li>
                                Relaxed gameplay. You can aim for perfection or just enjoy the journey
                            </li>
                            <li>
                                Adventure Mode: The same core mechanics but with a focus on exploration and discovery
                            </li>
                            <li>
                                Relaxing soundtrack
                            </li>
                            <li>
                                Chill hand-drawn art style
                            </li>
                        </ul>
                        <a href="https://distractedcoder.itch.io/slide-soldiers-demo1"><button class="btn btn-secondary">
                                Try the Demo!
                                <!-- <i class="fa-solid fa-puzzle-piece"></i> -->
                            </button></a>
                    </div>
                </div>
                <div class="col-12 col-md-6 ss-screenshots px-5 my-3 d-flex align-items-center">

                    <div id="ss-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="4000">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="/img/ss-home-screenshot-1.png" alt="slide soldiers screenshot">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/img/ss-home-screenshot-2.png" alt="slide soldiers screenshot">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/img/ss-home-screenshot-3.png" alt="slide soldiers screenshot">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/img/ss-home-screenshot-4.png" alt="slide soldiers screenshot">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/img/ss-home-screenshot-5.png" alt="slide soldiers screenshot">
                            </div>
                        </div>
                        <div class="ss-bottom-image-soldier"></div>
                        <div class="ss-bottom-image-slime"></div>
                    </div>

                </div>
            </div>
        </div>
    </section>











    <footer>
        {% include footer.html %}
    </footer>


</body>

</html>